html, body {
  height: 100%;
  width: 100%;
}
body {
  height: calc(100% - 20px);
  width: calc(100% - 0px);
  background-color: #EAEAEA;
  margin: 0;
  color: #3f5765;
  overflow: hidden;
}
  body > .container-fluid {
    height: 100%;
    padding-right: 11px;
    background: #c3c3c3;
  }

.droparea:-drag-over {
  border: 1px solid black;
}
.glyphicon:before {
  position: absolute;
  left: 4px;
  top: 3px;
}

div[ng-controller='ENACtrl'] {
  height: calc(100% - 0px);
}
#headerRow {
  height: 60px;
  background-color: #1c1d21;
  color: #FFF;
  box-shadow: 0px 2px 3px 1px #b3b5b6;
  z-index: 1000;
  position: relative;
  background-image: url(images/headers/got_banner.png);
  background-repeat: no-repeat;
  text-align: right;
  background-size: cover;
}
  #headerRow h1 {
    margin: 15px 0 15px 280px;
    font-size: 1.7em;
    font-weight: bold;
    height: calc(100% - 24px);
    position: relative;
    display: block;
    vertical-align: middle;
    text-align: left;
  }
#timelineRow {
  height: 105px;
  background-color: #f4f6f7;
  padding: 0 10px;
  font-size: 12px;
  position: relative;
}
  div#collapseTo {
      display: inline-block;
      width: 340px;
      height: 35px;
      position: absolute;
      right: 0px;
  }

  #collapseTo label {
      display: inline-block;
      width: 80px;
      vertical-align: middle;
  }

  #collapseTo > div > div:first-of-type {
      width: 216px;
      display: inline-block;
      height: inherit;
  }

  #collapseTo > div:first-of-type {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    vertical-align: top;
    height: inherit;
  }

  .item {
    border-radius: 0px !important;
  }
  .selectize-input.items {
    border-radius: 0px;
  }
  .selectize-control.form-control {
    height: 30px;
  }
  .item {
    height: 20px;
    font-size: 0.8em;
  }

  span#timelineBtnWrap {
    width: 25px;
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 10px;
  }
  #timelineRow h4 {
    font-size: 1.3em;
    display: inline-block;
    margin-bottom: 0px;
  }
  #timelineRow ena-timeline {
    /* width: calc(100% - 100px); */
    margin: 0px;
    height: 70px;
    display: table-cell;
  }
  #timeline-groups {
    position: relative;
  }
  #timelineRow .timeline-group {
    display: inline-block;
    width: calc(100% / 6);
  }
    #timelineRow .timeline-group > div {
      text-align: center;
    }
    #timelineRow ul.timeline-subgroup {
      margin: 0 5px 0 0px;
      padding: 0;
      border-right: #ced0d0 1px solid;
      padding-right: 5px;
    }
      #timelineRow .timeline-group:first-of-type ul.timeline-subgroup{
        border-left: #ced0d0 1px solid;
        padding-left: 5px;
      }
      #timelineRow .timeline-subgroup li {
        display: inline-block;
        height: 100%;
        width: calc(100% / 10);
        background-color: #cccccc;
        border-right: #d4d4d4 1px solid;
        content: " ";
      }
  #splitTimeline {
    margin-top: 5px;
    position: relative;
  }
    #splitTimelineEpisodes {
      position: relative;
    }
      #splitTimelineEpisode {
        cursor: pointer;
      }
      #timelineAdjustersWrapper {
        margin-left: 6px;
        margin-right: 12px;
        position: absolute;
        right: 0;
        left: 0;
        top: -3px;
      }
      #timelineAdjusters {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        border-top: 3px solid transparent;
      }
        #timelineTopBar {
          border-top: 3px solid #000;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
        }
      #splitTimeline .splitGrab {
        position: absolute;
        top: -2px;
        bottom: 0;
        cursor: ew-resize;
      }
        #splitTimeline .splitGrabLeft {
          left: 0;
        }
        #splitTimeline .splitGrabRight {
          right: 0;
        }
        #splitTimeline .splitGrabCenter {
          left: calc(50% - 27px);
        }
          #splitTimeline .splitGrabCenter span[split-grab=""] .splitGrabOuter {
            width: 19px;
          }
            #splitTimeline .splitGrabCenter span[split-grab=""] .splitGrabInner:first-child {
              padding-left: 5px;
            }
          #splitTimeline .splitGrabCenter span[split-grab=""]:last-child {
            margin-left: 8px;
          }
          .splitGrabOuter {
            background: #000;
            display: inline-block;
            width: 23px;
            padding-bottom: 3px;
          }
            .splitGrabInner {
              border-right: 3px solid #FFF;
              padding-left: 3px;
            }
            .splitGrabInner:first-child {
              padding-left: 7px;
            }
#sideMinimizedArea {
  position: absolute;
  top: 170px;
  bottom: 0;
  right: 0;
  width: 35px;
  background: #F6F8F9;
  border-radius: 5px 0px 0 0;
}
  .showEpisodeSummary #sideMinimizedArea {
    right: unset;
    left: 0;
    border-radius: 0px 5px 0 0;
  }
  #minimizedTitle {
    transform: rotate(-90deg);
    position: absolute;
    top: calc(50% - 30px);
    left: -80px;
    white-space: nowrap;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
  }
    .showEpisodeSummary #minimizedTitle {
      left: unset;
      right: -40px;
    }
#mainColumnWrap {
  height: calc(100% - 165px);
  background-color: #c3c3c3;
  width: calc(100% - 9px);
}
  .showEpisodeSummary #mainColumnWrap {
    margin-left: 24px;
  }
  #plotRow #unitPlotColumn.column {
    /* width: calc(66.666667% - 15px); */
    padding: 0;
    /* margin: 3px 0 0; */
    height: calc(100% - 10px) !important;
    background-color: #FFF;
  }
    .showEpisodeSummary #unitPlotColumn {
      width: calc(100% - 10px);
    }
  #centerColumn {
    height: 100%;
    padding-left: 0;
    /* width: calc(66.66667% + 8px); */
    margin: 0px 3px 0 15px;
  }
  .showEpisodeSummary #centerColumn {
    width: calc(50% - 17px);
  }
#plotRow {
  height: calc(100% - 0px);
  background: #c6c6c6;
  margin-left: -19px;
}
  .showCharacters > #plotRow {
    height: calc(100% - 360px);
  }
  .showCharacters > #charactersRow {
    height: 200px;
  }
  #plotRow .column {
    background-color: #f4f6f7;
    margin: 5px 0 5px 5px;
    height: calc(100% - 5px);
    box-shadow: 0px 0px 5px 1px #adacac;
  }
    #plotRow .column:first-of-type {
      border-radius: 0 5px 0 0;
      width: calc(33.3333% - 15px);
    }
    #plotRow .col-sm-4.column:last-of-type {
      margin-right: 0px;
      width: 31%;
      padding-bottom: 20px;
      height: 100%;
    }
    #sidePlotColumn.column {
      background-color: #FFF;
      height: calc(100% - 5px);
      margin: 5px 0 0 0;
    }
  #selectedColumn {
    height: calc(100% - 10px) !important;
    overflow-y: auto;
}
    div[dnd-list] {
      min-height: 50px;
    }
    ul[houses-added] {
      list-style: none;
      margin: 0;
      padding: 0;
      min-height: calc(100% - 0px);
      color: #FFF;
      font-weight: bold;
      top: 0px;
      position: absolute;
      width: 100%;
      left: 0;
      padding: 40px 10px;
    }
      ul[houses-added] > li > div.houseAddedName, ul[houses-added] > li li {
        height: 40px;
        padding: 7px 10px 2px 43px;
        position: relative;
        margin-bottom: 5px;
        border-radius: 5px;
      }
        ul[houses-added] li.dndPlaceholder {
          border: 1px solid #b9b9b9;
          background: #eaeaea;
        }
        ul[houses-added] li img {
          height: calc(100% - 10px);
          position: absolute;
          left: 0;
          top: 4px
        }
    div#addCharsListColumn {
    /* left: 0; */
    /* position: absolute; */
    /* bottom: 0px; */
}
#addCharsList li.activeHouse {
    position: absolute !important;
    left: 0;
    z-index: 100;
    width: 100%;
    display: flex;
}

.hasActiveHouse #addCharsList {
    position: relative;
}

#charactersRow {
    height: 40px;
    top: -40px;
    position: relative;
    /* background: gray; */
    /* margin-left: -19px; */
}
    #addCharsWrap {
      position: absolute;
      bottom: 0px;
      width: 100%;
      left: 0px;
      background: #1c5379;
      color: #FFF;
      padding: 5px 5px;
      text-align: center;
      height: 40px;
    }
    #addCharsAction:focus { outline: none; }
    #addCharsAction i.glyphicon {
      position: absolute;
      right: 25px;
      top: 10px;
      font-size: 1.6rem;
    }
    #addCharsList li[draggable="true"] div[dnd-handle] {
      cursor: grab;
      cursor:-webkit-grab;
      background-size: 175%;
      background-repeat: no-repeat;
      background-position: 50% 5px;
      /* width: 50px; */
    }

    #addCharsList li.dndDragging {
      cursor: grabbing;
      cursor:-webkit-grabbing;

    }
    #addCharsAction h6 {
      position: absolute;
      left: 10px;
      display: inline-block;
      font-weight: bold;
      font-size: 1.5rem;
    }
    #addCharsListWrap {
      position: absolute;
      height: calc(100% - 40px);
      bottom: 0px;
      background: #FFF;
      z-index: 100;
      width: 100%;
    }
    .showCharacters div#charactersRow {
        /* margin: 0; */
        height: 200px;
        bottom: 0px;
        position: relative;
        width: calc(100% + 22px);
        /* outline: 1px solid gray; */
        background: #FFF;
        top: auto;
    }

    div#addCharsListColumn {
        height: 100%;
        padding: 0;
        margin: 0;
    }
      ul#addCharsList {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        display: inline-flex;
      }
        #addCharsList > li {
          display: inline-block;
          width: calc(100% / 13);
          height: 100%;
          /* border-right: 1px #CCCCCC solid; */
          overflow: hidden;
          position: relative;
        }

          #addCharsList > li > div {
            position: relative;
            height: 100%;
            font-weight: bold;
            /* width: 40px; */
          }
          #addCharsList > li > div  img {
            width: calc(200%);
            left: -50%;
            position: absolute;
            z-index: 20;
            top: 0;
            /* clip-path: inset(30px 30px 30px 30px); */
          }
          #addCharsList > li div.has-image {
            color: #FFF;
            text-align: center;
            bottom: 0px;
            position: absolute;
            display: block;
            z-index: 30;
            width: 100%;
          }
          #addCharsList > li div.no-image {
            text-align: center;
            color: #FFF;
            vertical-align: middle;
            height: 100%;
            display: block;
            top: calc(50% - 12px);
            position: relative;
          }
          #addCharsList > li > span:first-of-type {
            position: relative;
            top: 0;
            z-index: 10;
          }
    .showCharacters div#plotRow {
      height: calc(100% - 205px);
    }
    .showCharacters div#addCharsWrap {
      top: 0px;
    }

  #unitPlotColumn .tabbable {
    position: relative;
    z-index: 0;
    height: 100%;
  }
    #unitPlotColumn .tabbable .nav.nav-tabs {
      position: absolute;
      /*
      top: calc(100% - 23px);
      left: -15px;
      */
      width: calc(100% + 0px);
      height: 23px;
      border-bottom: 2px solid #c3c6c7;
      bottom: 60px;
      z-index: 100;
    }
    #unitPlotColumn .tabbable .tab-content {
      padding-bottom: 60px;
      min-height: calc(100% - 60px);
      background-color: transparent;
      display: inline;
    }

    #sidePlotColumn  {
      width: calc(33.33333% - 30px);
    }
    .showEpisodeSummary #sidePlotColumn {
      width: calc(33.33333% - 10px);
    }
    #sidePlotColumn > div {
      position: relative;
      height: calc((100% / 2) - 85px);
      margin-bottom: 40px;
    }
      #sidePlotColumn > div > div {
        /* height: 30px; */
        display: inline;
      }
      #sidePlotColumn > div > div.sigma {
        height: calc(100% + 35px) !important;
        padding: 20px 0 0;
      }
    #sidePlotColumn svg.sigma-svg {
      height: calc(100% + 0px) !important;
      top: 30px;
    }
    #sidePlotColumn .plotLabel{
      position: absolute;
      top: 20px;
      left: 5px;
    }
    #sidePlotColumn h5 {
      position: relative;
    }
    #sidePlotColumn h5 > span {
      line-height: 20px;
    }
    #sidePlotColumn h5 button {
      /*position: absolute;
      right: 0;
      */
      float: right;
    }
      #sidePlotColumn button {
      margin-left: 2px;
      }
    button {
      width: 85px;
      background: #1c5379;
      color: #FFF;
      border: 1px solid #7d98ab;
      border-radius: 4px;
      text-align: left;
      padding-left: 13px;
      text-align: center;
      font-size: 10px;
      /* vertical-align: bottom !important; */
      /* height: 10px; */
      box-shadow: 1px 1px 5px 0px #8e8e8e;
    }
      button > span {
        font-family: sans-serif;
        top: -1px;
        position: relative;
      }
    #sidePlotColumn #sigmaNet2 {
      outline: 1px solid #f0f0f0;
    }
    #sidePlotColumn .shiny-plot-output {
      padding-top: 10px;
    }

    #sidePlotColumn #sigmaNet1 {
      outline: 5px solid #f0f0f0;
    }
    #sidePlotColumn div#mainPlot {
      margin-bottom: 87px;
    }

    circle, line {
      cursor: pointer;
    }

    #unitClicked1 {
      color: #5399c7;
    }
    #unitClicked2 {
      color: #eaa647;
    }
    #sigmaNet1 {}
      #sigmaNet1 line {
        /* stroke: #5399c7; */
      }
    #sigmaNet2 {}
      #sigmaNet2 line {
        /* stroke: #eaa647; */
      }

#unitPlotColumn .tabbable li {
    z-index: 20;
}
  #unitPlotColumn .tabbable li:not(.active) {
    position: relative;
    top: 3px;
  }
  #unitPlotColumn .tabbable li:last-of-type {
      position: relative;
      left: -5px;
      z-index: 10;
  }
    #unitPlotColumn .tabbable li.active:last-of-type {
      z-index: 20;
      left: -8px;
    }

  #unitPlotColumn .tabbable li a {
    border-radius: 0 10px 0 0;
    padding: 3px 10px;
    font-size: 0.8em;
    background: #e5eef2;
    color: #2f4042;
    font-weight: bold;
  }
    #unitPlotColumn .tabbable li:not(.active) a {
      background: #bdd4de;
      padding-top: 1px;
      padding-bottom: 1px;
      bottom: 0px;
      font-weight: normal;
    }

  div#plotOptions {
    width: 100%;
    height: 60px;
    background: #e5eef2;
    position: absolute;
    display: block;
    left: 0;
    padding: 5px 5px 5px 0px;
    font-size: 0.8em;
    color: #2f4042;
    bottom: 0;
  }

  #plotOptions > span, #plotOptions > div {
      display: inline-block;
      vertical-align: top;
      float: right;
      margin: 0 10px 0 0;
  }
    #plotOptions .irs .irs-min,
    #plotOptions .irs .irs-max,
    #plotOptions .irs .irs-single {
      display: none;
    }
    #plotOptions span.irs {
      height: 20px;
      width: 100px;
      display: inline-block;
    }
      #plotOptions span.irs > span {
        top: 0px;
      }
      #thresholdSlider > div > span.irs > span.irs-bar,
      #thresholdSlider > div > span.irs > span.irs-bar-edge{
        top: 3px;
      }
      #thresholdSlider > div > span.irs > span.irs-slider.single {
        top: -3px;
        background-color: #2c3e50;
      }
    #plotOptions > #thresholdSlider {
      display: inline-block;
      width: 215px;
      margin: 7px 0px 0  0;
      float: right;
    }
      #thresholdSlider > div {
        display: inline-block;
        vertical-align: top;
      }

      #plotOptions md-switch {
        height: 30px;
        margin: 0;
      }

      #plotOptions .md-container .md-bar {
        width: 50px;
        background-color: #3f5765;
      }
        #plotOptions md-switch .md-container .md-bar:before {
          color: #FFF;
          top: -7px;
          position: absolute;
          left: 5px;
        }
          #plotOptions md-switch.md-checked .md-container .md-bar:before {
            content: "Show";
          }
          #plotOptions md-switch:not(.md-checked) .md-container .md-bar:before {
            content: "Hide";
            right: 8px;
            left: auto;
          }
      #plotOptions .md-container {
        width: 55px;
        margin-right: 0px;
      }
      #plotOptions md-switch.md-checked {
        width: auto;
      }
      #plotOptions md-switch .md-thumb-container {
        width: 35px;
      }
      #plotOptions md-switch.md-checked .md-thumb-container {
        right: 18px;
        left: auto;
      }
      #plotOptions md-switch .md-thumb.md-ink-ripple {
        width: 12px;
        height: 12px;
        background-color: #FFF;
        top: 4px;
        right: 0;
      }
        #plotOptions md-switch:not(.md-checked) .md-thumb.md-ink-ripple {
          left: 3px;
        }
      #plotOptions md-switch .md-ripple-container {
      }
      #plotOptions #thresholdSlider span.irs-bar,
      #plotOptions #thresholdSlider span.irs-from,
      #plotOptions #thresholdSlider span.irs-bar-edge {
        background-color: #91a2aa;
      }
      #plotOptions #thresholdSlider span.irs-bar,
      #plotOptions #thresholdSlider span.irs-bar-edge {
        border-color: #91a2aa;
      }


.houseCharList {
    width: 100%;
    background: #FFF;
}

li.activeHouse div[dnd-handle] {
    width: 115px;
    display: inline-block;
    background-position: 50% 0px !important;
    background-size: 100% !important;
    padding: 10px;
}

li.activeHouse .houseCharList {
    width: calc(100% - 54px);
    background: #FFF;
    display: inline-flex;
    padding: 0 0 0 10px;
    color: #000;
}

#addCharsList > li.activeHouse .has-image {
    width: calc(100% - 20px);
    bottom: 5px;
    /* color: #000; */
}


[houses-added] .glyphicon.glyphicon-triangle-bottom {
    position: absolute;
    bottom: 17px;
    left: 50%;
    top: auto;
}
[houses-added] [color-circle] {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.semi-circle {
  display: block;
  width: 20px;
  height: 10px;
  border: 2px solid #FFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
  .semi-circle.top-color {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #FFF;
  }
  .semi-circle.bottom-color {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid #FFF;
  }

.full-circle {
    display: block;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 40px;
}
  .full-circle.active {
    border: 2px solid #B3B3B3;
  }
.color-circle-popover {
  width: 325px;
  height: 350px;
  max-width: unset;
}
  .color-circle-popover .popover-content {
    padding: 10px;
  }
  .color-circle-popover .popover-content .row > div:first-child {
    padding-right: 0;
    margin-right: 0;
    padding-left: 10px;
  }
  .color-circle-popover .popover-content .row > div:last-child {
    padding-left: 0;
    margin-left: 0;
    padding-right: 10px;
  }
    .color-circle-popover .area-label {
      font-weight: bold;
      font-size: 9px;
    }
    .color-circle-popover .currentColors {
      /*margin-top: 15px;*/
    }
      .color-circle-popover .currentColors .mainAndAlt {
        /*margin: 10px 0;*/
      }
        .color-circle-popover .currentColors .mainAndAlt > div {
          display: inline-block;
          width: calc(50% - 5px);
          text-align: center;
        }
          .color-circle-popover .currentColors .full-circle {
            margin: auto;
          }
    .color-circle-popover #colorPickerArea {
      margin: 15px 0;
    }
      .color-circle-popover #colorPickerArea .colorSwatch {
        margin: auto;
        width: 172px;
        margin-top: 10px;
      }
      .color-circle-popover #colorPickerArea .colorSwatch .sp-container {
        background: none;
        border: none;
      }
        .color-circle-popover #colorPickerArea .colorSwatch .sp-picker-container {
          border: none;
          padding-left: 0;
          padding-right: 0;
          padding-top: 0;
          padding: 0;
          margin: 0;
        }
      .color-circle-popover #colorPickerArea .colorPreset {
        display: inline-block;
        width: 15px;
        height: 20px;
        border: 1px solid #CCC;
        vertical-align: top;
      }
      .color-circle-popover #colorPickerArea .hexColor {
        text-align: center;
        position: relative;
      }
        .color-circle-popover #colorPickerArea .hexColor input {
          vertical-align: bottom;
        }
        .color-circle-popover #colorPickerArea .hexColor .currentExample {
          display: inline-block;
          height: 26px;
          width: 24px;
          vertical-align: bottom;
        }
  .color-circle-popover #recommendedColors ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #F1F1F1;
    margin-top: 5px;
  }
    .color-circle-popover #recommendedColors ul > li {
      padding: 0;
    }
    .color-circle-popover #recommendedColors ul > li .presetColors {
      width: 44px;
      margin: auto;
      border: 2px solid transparent;
      border-radius: 40px;
    }
      .color-circle-popover #recommendedColors ul > li .presetColors.active {
        border: 2px solid #B9B9B9;
        border-radius: 40px;
      }
    .color-circle-popover #recommendedColors ul > li .semi-circle {
      width: 40px;
      height: 20px;
    }
      .color-circle-popover #recommendedColors ul > li .semi-circle.top-color {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom: 2px solid #FFF;
      }
      .color-circle-popover #recommendedColors ul > li .semi-circle.bottom-color {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top: 2px solid #FFF;
      }

.houseCharList > div {
    width: 100%;
    display: block;
}

house-characters {
    display: block;
    width: 100%;
    height: calc(100% - 35px);
    font-size: 1.2rem;
}

house-characters ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

house-characters ul li {
    display: inline-block;
    width: 120px;
    border: 1px solid #b4b4b4;
    background: #CCC;
    border-radius: 5px;
    margin: 0 5px 5px 0;
    position: relative;
    padding: 2px 3px;
}

house-characters ul li i.glyphicon-check {
    position: absolute;
    right: 33px;
}
house-characters ul li i.glyphicon-move {
    position: absolute;
    right: 18px;
}

div#addCharsListColumn.col-sm-12 {
    width: calc(100% + 2px);
}

div#addCharsListColumn.col-sm-4 {
    width: calc(33.3333% + -12px);
}

ul[houses-added] > li {
    padding: 0;
}
.houseAddedName, ul[houses-added] > li li {
    border-radius: 5px;
    box-shadow: 3px 2px 2px #b5b7b8;
}


ul[houses-added] > li li {
    height: 30px;
    padding-top: 5px;
}


#timelineRow .timeline-subgroup li.timelineInactive {
    background-color: #ccc;
}

#timelineRow .timeline-subgroup li.timelineActive {
    background-color: #9abed5;
}


.sigma-plot > svg > g,
.sigma > svg > g {
    user-select: none;
}

#unitPlotColumn .tab-content #sigma {
    /* background-color: #FFF; */
}


i.glyphicon.glyphicon-check.isUnit {
    color: blue;
}

#episodeSummary {
  margin-top: 5px;
  background: #FFF;
  height: 100%;
  padding: 0;
}
  #episodeSummaryHeader h4 {
    display: block;
    padding-right: 40px;
  }
  #episodeSummaryHeader h4 > span {
    font-size: 1.3rem;
  }
  #clearEpisodeSummary {
    /* font-size: 1.0rem; */
    margin-top: 10px;
    margin-right: 5px;
    position: absolute;
    right: 0px;
    top: 0px;
  }
    #clearEpisodeSummary i {
      float: left;
    }
  #episodeSummaryContent {
    height: 100%;
    font-size: 1.1rem;
    color: #410000;
  }
    #episodeSummaryContent .seasonTabs li a {
      padding: 5px;
      cursor: pointer;
      text-align: center;
    }
    #episodeSummaryContent .tab-content {
      height: calc(100% - 78px);
      overflow: auto;
      overflow-x: hidden;
      border-left: 1px solid #DDD;
      padding-left: 5px;
      position: relative;
    }
      #episodeSummaryContent .tab-content > .tab-pane {
        display: block;
        border-bottom: 1px solid #CCC;
        padding-bottom: 10px;
        margin-top: 10px;
      }
        #episodeSummaryContent .tab-content > .tab-pane:last-child {
          border-bottom: none;
        }
        #episodeSummaryContent .tab-content > .tab-pane  > h3 {
          margin-top: 10px;
        }
      #episodeSummaryContent .tab-content .summaryEpisodes > h4 {
          background: #E6E6E6;
          padding: 5px;
          font-size: 1.3rem;
      }
        #episodeSummaryContent .tab-content .summaryEpisodes > h4 i {
          margin-right: 30px;
          cursor: pointer;
          top: 0;
        }
      #episodeSummaryContent .tab-content .excerpt:not(:last-child) {
        margin-bottom: 15px;
      }
        #episodeSummaryContent .tab-content .excerpt .highlightedWord {
          /*color: blue;*/
          font-weight: bold;
        }
          #episodeSummaryContent .tab-content .excerpt .highlightedWord:hover {
            text-decoration: underline;
          }
.charListAction {
    position: absolute;
    background-color: #dedede;
    height: calc(100% + 0px);
    display: inline-block;
    width: 12px;
    text-align: center;
    top: 0px;
    right: 25px;
    padding: 3px 0 0;
    color: #CCC;
}
  .charListAction.isUnit,
  .charListAction.isCode {
    color: #2980bc;
  }
  .charListAction.unit {
      right: 37px;
  }


h4#collapseLevel {
    padding: 0 10px;
    font-size: 1.1em;
    color: #858585;
    position: absolute;
}


ul[houses-added].active-drag:before,
#unitPlotColumn.active-drag:before {
    content: "Drop as unit";
    color: #2980b9;
    font-size: 1.9em;
    position: absolute;
    z-index: 100;
    background: rgba(41, 128, 185, 0.15);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 90% 10px;
    text-align: center;
    border: dashed 3px rgba(41, 128, 185, 1);
    font-weight: bold;
}

#unitPlotColumn.active-drag:before {
    padding: 35% 10px;
    content: "Drop as code";
}


#headerRow .col-sm-12 {
    height: 100%;
    display: block;
    position: relative;
}


svg.sigma-svg {
    /* height: 100% !important; */
    display: block;
    height: calc(100% - 60px) !important;
}

div#sigma {
    /* height: 100% !important; */
}


div.tab-pane[data-value="Units"] {
    min-height: calc(100% - 0px) !important;
    display: inline;
}


canvas.sigma-measurement-canvas {
    height: 100% !important;
    display: block;
    width: 100%;
}


#timelineBtnWrap button {
    height: 20px;
}


.seasonTabs > li {
    width: calc(100% / 6);
}

button.glyphicon {
    width: 22px;
    padding-left: 16px;
    padding-right: 4px;
    height: 20px;
    font-size: 1.1rem;
}

button.glyphicon > span {
    padding-right: 5px;
}


#timelineRow > div {
    display: table;
    width: 100%;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  span#timelineBtnWrap {
    width: 55px;
  }

  #timelineBtnWrap > span {
      display: block;
      width: 145px;
  }
  button.glyphicon {
    padding-left: 20px;
    width: 72px;
  }

  #timelineBtnWrap button.glyphicon.glyphicon-stop,
  #timelineBtnWrap button.glyphicon.glyphicon-ban-circle,
  #timelineBtnWrap button.glyphicon.glyphicon-resize-horizontal {
      width: 144px;
  }
}


img.charImage {
    margin: 1px 0 3px 7px;
}


a#minimizedTitle {
    color: #3F576B;
}
a#minimizedTitle:hover {
  text-decoration: none;
}


.boxShadow {
    box-shadow: 0px 0px 5px 1px #adacac;
}


.hide-labels g#sigma-group-labels {
    display: none;
}

#centerColumn .tab-pane {
  height: 100%;
}

div#sigmaComparison {
    position: absolute;
    top: 25px;
    z-index: 0;
}

div#sigma {
    position: absolute;
    top: 25px;
    z-index: 10;
}


.hasComparison div#sigma #sigma-group-nodes .sigma-node-group,
.hasComparison div#sigma #sigma-group-nodes circle,
.hasComparison div#sigma #sigma-group-labels text {
    opacity: 0.4;
}


.hasComparison div#sigma circle:hover,
.hasComparison div#sigma .sigma-hover {
    opacity: 1.0 !important;
}


.hasComparison #sigma g#sigma-group-labels {
    display: none;
}

svg.sigma-svg .sigma-label.hovered {
  font-weight: bold;
  font-size: 12px;
}

.hasComparison #sigma rect.sigma-hover-area {
    stroke: #dedfe6;
    fill: #eeeff7;
}


#sidePlotColumn button[disabled] {
    background: #CCC;
    border: #A5A4A0;
    color: #a5a4a4;
    box-shadow: none;
}

#plotOptions md-switch.md-checked.onOff .md-container .md-bar:before {
  content: "On";
}
#plotOptions md-switch.onOff .md-container .md-bar:before {
  content: "Off";
}


g#sigma-group-axes {
    position: relative;
    z-index: 100;
}


.sigma-node-group circle.sigma-node {
    stroke: #000000;
    stroke-width: 2px;
}


sigma-node-plot#plot-6 {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}


.has-network g.sigma-node-group {
    opacity: 0.6;
}


div.sigma-plot {
    height: 100%;
    display: block;
}

sigma-node-plot {
    display: block;
    height: calc(100% - 0px);
}


div#sigmaPlot {
    min-height: calc(100% - 60px) !important;
    display: inline;
}


div#sigmaPlotNetwork1 {
    height: 100%;
}
